# Wifi
doas wpa_supplicant -B -Dwext -c /etc/wpa_supplicant/wpa_supplicant-wlp0s20u3.conf -i wlp0s20u3

# Consfiguración para las notificaciones
dunst -conf ~/.config/dunst/dunstrc &

# Ocultar puntero del mouse tras un segundo de inactividad
unclutter --timeout 3 &

# Ajustar brillo de la computadora al 2% predeterminadamente
light -S 2 &

# Activar configuración de redshift
redshift -c ~/.config/redshift/redshift.conf &

# Activar distribución de teclado a español latinoamericado
setxkbmap -layout latam &

# Activar teclado numérico
numlockx &

# Wallpaper aleatorio
feh --bg-fill --randomize --no-fehbg ~/Wallpaper/* &

# Automontaje de dispositivos extraíbles 
devmon --sync --exec-on-drive "notify-send -t 9000 --icon=$HOME/.icons/mount.png --urgency=normal \"%l\" \"Dispositivo listo para usarse\"" &

# Reproductor de música
mpd &

# Panel de estado
slstatus
